{
  email swk1072@gmail.com
  acme_ca https://acme.zerossl.com/v2/DV90
}
{$APP_DOMAIN} {
  encode zstd gzip

  reverse_proxy /api/* api:4000
  reverse_proxy /socket.io/* api:4000
  reverse_proxy /files/* api:4000

  reverse_proxy web:3000
}
