{
  email swk1072@gmail.com
  acme_ca https://acme.zerossl.com/v2/DV90
}
em33.kro.kr {
  encode zstd gzip

  handle /api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle /socket.io/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle /files/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle {
    root * /opt/everyonemessage/apps/web/dist
    try_files {path} /index.html
    file_server
  }
}
